@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhai+2&family=Bebas+Neue&family=Montserrat:wght@300&family=Noto+Sans+JP:wght@100&family=Noto+Sans+KR:wght@700;900&family=Poppins:wght@300&family=Roboto&display=swap');

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  transition: all .2s ease;
}

:root{
  --theme-pri : #495ab9;
  --theme-transparency : rgba(132, 0, 255, 0.07);
}

html{
  scroll-behavior: smooth;
}

body {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#header{
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-image: linear-gradient(180deg, transparent, var(--theme-transparency)); */
}

#navbar{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: rgba(255, 255, 255, 0.7);
  backdrop-filter: blur(3px);
  z-index: 100;
  /* border: 2px solid red; */
}

nav{
  display: flex;
  justify-content: space-between;
  padding: 10px 10%;
  align-items: baseline;
  height: 50px;
}

#logo{
  font-weight: bolder;
  font-size: 1.5rem;
  color: var(--theme-pri);
  letter-spacing: .1rem;
  /* -webkit-box-reflect: below 0px linear-gradient(rgba(255, 255, 255, 0), rgba(120, 33, 233, 0.479)); */
}

ul{
  list-style: none;
  display: flex;
}

ul li{
  /* border: 2px solid red; */
  margin: 0 15px;
}

a{
  text-decoration: none;
  color: inherit;
  font-weight: bold;
}
li a:hover{
  text-decoration: underline;
}

.btn-theme{
  /* border: 1px solid red; */
  border-radius: 5px;
  background-color: var(--theme-transparency);
  padding: 5px 10px 7px;
  color: var(--theme-pri);
}
.btn-theme:hover{
  /* border: 1px solid red; */
  border-radius: 5px;
  background-color: var(--theme-pri);
  padding: 5px 10px 7px;
  color: white;
  text-decoration: none;
}
.homepage{
  display: flex;
  margin-top: 50px;
  padding: 2% 10%;
  justify-content: center;
  align-items: center;
}

.hometext{
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 5%;
  margin: auto;
  
}

.hometext h1{
  font-size: 3rem;
  text-align: left;
  letter-spacing: .1rem;
  margin: 2% 0;
  line-height: 3.5rem;
}

.hometext p{
  color: gray;
  margin: 0 0 10px;
}

.hometext a{
  width: fit-content;
}

#sbox{
  /* border: 2px solid black; */
  border-radius: 10px;
  height: 270px;
  width: 250px;
  margin: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  background: white;
  box-shadow: 0 0 20px silver;
}

#sbox:hover{
  transform: scale(1.05);
}

#sbox img{
  height: 150px;
  object-fit: contain;
  padding: 5% 10%;
}

#sbox h2{
  text-align: center;
  margin: 5px 0 10px;
}

#sbox p{
  text-align: center;
  margin: 5px;
  font-size: .8rem;
}
#sbox:nth-child(2n){
  transform: translate(0, -1.5rem);
}
#sbox:nth-child(2n+1){
  transform: translate(0, 1.5rem);
}

#services{
  /* border: 2px solid red; */
  min-height: fit-content;
  padding: 5%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--theme-transparency);
}

.services-boxes{
  width: 60%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}


.services-text{
  width: 40%;
  padding-right: 120px;
}

.services-text h1{
  font-weight: bold;
  margin: 10px 0; 
}
.services-text p{
  margin: 10px 0 20px; 
}

#projects{
  min-height: fit-content;
  padding: 5%;
  display: flex;
  flex-direction: column;
  /* background-image: linear-gradient(180deg,var(--theme-transparency), transparent); */
}
#head{
  min-height: 90%;
  /* border: 2px solid red; */
  display: flex;
  margin: auto;
}
#left{
  width: 40%;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 5%;
}
#left h2{
  font-size: 2.5rem;
  margin: 2% 0;
}
#left span{
  color: var(--theme-pri);
  font-size: 3rem;
}
#right{
  width: 60%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
#right img{
  height: 500px;
}
#bottom{
  /* border: 2px solid red; */
  min-height: 10%;
  margin-top: auto;
  padding: 0 20%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#bottom img{
  /* border: 2px solid red; */
  height: 2.5rem;
  filter: grayscale(100%);
}
#bottom img:hover{
  transform: scale(1.05);
}
#connect{
  min-height: fit-content;
  padding: 3%;
  /* background: var(--theme-transparency); */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(180deg, transparent, var(--theme-transparency));
}
#connect h2{
  font-size: 1.5rem;
  margin: 10px;
}
.socialmedia{
  display: flex;
}
.socialmedia img{
  height: 2.5rem;
  margin: 0 1em;
}

.socialmedia img:hover{
  transform: scale(1.1);
  -webkit-box-reflect: below 1px linear-gradient(transparent, var(--theme-transparency));
}


/* --------------Responsiveness---------- */
@media screen and (max-width : 1000px) {
  .homepage{
    flex-direction: column;
    padding: 5%;
  }
  
  .hometext{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  
  .hometext h1{
    font-size: 2.5rem;
    margin: auto;
    margin: 2% 0;
    line-height: 3rem;
    text-align: center;
  }
  
  .hometext p{
  }
  
  .hometext a{
  }
  .homeimg img{
    height: 25rem;
    margin: 10% 0;
  }
  
  
  #services{
    flex-direction: column;
    padding: 5% 0;
  }
  .services-boxes{
    width: 90%;
  }
  #sbox{
    height: 210px;
    width: 190px;
    margin: 10px;
    padding: 10px;
  }
  #sbox img{
    height: 100px;
    object-fit: contain;
    padding: 1% 10%;
  }
  
  #sbox h2{
    text-align: center;
    margin: 5px 0;
    font-size: 1rem;
  }
  
  #sbox p{
    text-align: center;
    margin: 1px;
    font-size: .65rem;
  }
  #sbox:nth-child(2n){
    transform: translate(0, -1rem);
  }
  #sbox:nth-child(2n+1){
    transform: translate(0, 1rem);
  }
  .services-text{
    width: auto;
    margin: auto;
    text-align: center;
    padding: 0 15%;
  }
  
  .services-text h1{
    font-weight: bold;
    margin: 20px 0 10px; 
  }
  
  #projects{
  }
  #head{
    min-height: fit-content;
    display: flex;
    flex-direction: column;
    margin: auto;
  }
  #left{
    width: 100%;
    text-align: center;
  }
  #left h2{
    font-size: 2.5rem;
    line-height: 2.5rem;
  }
  #left span{
    color: var(--theme-pri);
    font-size: 3rem;
  }
  #right{
    width: 100%;
  }
  #right img{
    height: 300px;
  }
  #bottom{
    padding: 0 10%;
  }
  #bottom img{
    height: 2rem;
  }
  
}

@media screen and (max-width : 470px) {
  #header{
    min-height : fit-content;
  }
  .homepage{
    padding: 10% 10%;
  }
  
  .hometext{
    text-align: center;
    padding: 0 2%;
  }
  
  .hometext h1{
    font-size: 2rem;
    line-height: 2.5rem;
  }
  
  .hometext a{
  }
  .homeimg img{
    height: 20rem;
  }
  #sbox{
    height: 210px;
    width: 180px;
  }
  
  #sbox img{
    height: 100px;
    padding: 5%;
  }
  
  #sbox h2{
  }
  
  #sbox p{
    margin: 3px;
    font-size: .6rem;
  }
  #sbox:nth-child(n){
    transform: translate(0);
  }
  
  #services{
    padding: 3%;
    flex-direction: column-reverse;
  }
  
  .services-boxes{
    width: 100%;
  }
  
  
  .services-text{
    width: 100%;
    margin: 5% 0 10%;
  }
  
  .services-text h1{
    margin: 10px 0; 
  }
  .services-text p{
  }
  
  #projects{
    padding: 5%;
  }
  #head{
    min-height: 90%;
  }
  #left{
    width: fit-content;
    text-align: center;
    /* padding: 5%; */
  }
  #left h2{
    font-size: 2rem;
    margin: 2% 0;
    line-height: 2rem;
  }
  #left span{
  }
  #right{
    width: 100%;
  }
  #right img{
    height: 150px;
  }
  #bottom{
    min-height: fit-content;
    padding: 0 10%;
  }
  #bottom img{
    /* border: 2px solid red; */
    height: 1rem;
    margin: 0 5%;
  }
  #connect{
  }
  #connect h2{
    font-size: .8rem;
  }
  .socialmedia{
  }
  .socialmedia img{
    height: 1rem;
    margin: 0 1em;
  }
}